/* .container-fluid{
    border: 2px solid;
} */
#btnReset{
   border: 2px solid rgb(191, 191, 33);
   color: rgb(191, 191, 33) ;
   
  
}


/* .hide {
    display: none !important;
  } */
  .error {
    color: #ff465a;
  }
/* #container1{
    border: 2px solid red;
}
#container2{
    border: 2px solid blue;
}
#container3{
    border: 2px solid green;
} */
#btnHistory{
    border: 2px solid rgb(163, 137, 137);
    color: rgb(163, 137, 137);
    width: 100%;
    
}
#btnClose{
    width: 100%;
}
.iconDlete:hover{
   
    color: rgb(213, 49, 145);
}


@media (max-width: 576px) {
    #container1 {
      padding: 10px;
    }
    #container2,
    #container3 {
      margin-top: 20px;
    }
  }
  
  @media (min-width: 577px) and (max-width: 992px) {

    #container1 {
      padding: 20px;
    }
    #container2,
    #container3 {
      margin-top: 30px;
    }
  }
  /* notification */
  .petitDivConnexion{
    border: 2px solid #74c6bd;
    right: 0%;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    height: 6em;
    margin-right: 1%;
    overflow: hidden;
    z-index: 800 !important;
    position: absolute;
    background-color: white;
  }
  #titreDnotification{
    background-color: #74c6bd;
    color: white;
  }
  #paragrapDnotification{
    background-color: white;
  }
  
  